In [105]:
\l utils/csvutil.q
\l utils/pivot.q

In [7]:
t: .csv.read `random.csv

In [89]:
?[t; (); ()!(); enlist[`vol]!enlist (sum; `vol)] ~ ?[t; (); 0b; enlist[`vol]!enlist (sum; `vol)]

0b

In [92]:
?[t; (); (); enlist[`vol]!enlist (sum; `vol)]

vol| 479131

In [15]:
t1: b select med vol by d, ticker from t
t1

d         | appl  goog ibm   msoft
----------| ----------------------
2020.06.02| 520   420  533   516
2020.06.03| 490.5 524  359   421
2020.06.04| 581   546  540.5 469
2020.06.05| 458   273  461   429
2020.06.06| 319   428  484.5 460
2020.06.07| 462.5 591  454   419
2020.06.08| 493   288  387   421.5
2020.06.09| 494   464  338   661
2020.06.10| 591.5 406  529   571.5
2020.06.11| 637   459  478.5 413

In [16]:
t1: update `$string d from t1

In [17]:
t1

d         | appl  goog ibm   msoft
----------| ----------------------
2020.06.02| 520   420  533   516
2020.06.03| 490.5 524  359   421
2020.06.04| 581   546  540.5 469
2020.06.05| 458   273  461   429
2020.06.06| 319   428  484.5 460
2020.06.07| 462.5 591  454   419
2020.06.08| 493   288  387   421.5
2020.06.09| 494   464  338   661
2020.06.10| 591.5 406  529   571.5
2020.06.11| 637   459  478.5 413

In [9]:
t2: select med vol by ticker from t
t2

ticker| vol
------| -----
appl  | 495
goog  | 428
ibm   | 461.5
msoft | 469

In [39]:
t3: update `$string d from select med vol by d from t
t3

d         | vol
----------| -----
2020.06.02| 513
2020.06.03| 442.5
2020.06.04| 538
2020.06.05| 420
2020.06.06| 434.5
2020.06.07| 483
2020.06.08| 413.5
2020.06.09| 492
2020.06.10| 529
2020.06.11| 500.5

In [47]:
t4: select med vol from t
t4

vol
---
466

In [18]:
t2

ticker| vol
------| -----
appl  | 495
goog  | 428
ibm   | 461.5
msoft | 469

In [48]:
([] d: enlist `Total)!(enlist first[value flip key t2]!first value flip value t2) ,' `Total xcol t4

d    | appl goog ibm   msoft Total
-----| ---------------------------
Total| 495  428  461.5 469   466

In [45]:
t1 ,' `Total xcol value t3

d         | appl  goog ibm   msoft Total
----------| ----------------------------
2020.06.02| 520   420  533   516   513
2020.06.03| 490.5 524  359   421   442.5
2020.06.04| 581   546  540.5 469   538
2020.06.05| 458   273  461   429   420
2020.06.06| 319   428  484.5 460   434.5
2020.06.07| 462.5 591  454   419   483
2020.06.08| 493   288  387   421.5 413.5
2020.06.09| 494   464  338   661   492
2020.06.10| 591.5 406  529   571.5 529
2020.06.11| 637   459  478.5 413   500.5

In [54]:
(t1 ,' `All xcol value t3) , ([] d: enlist `All)!(enlist first[value flip key t2]!first value flip value t2) ,' `All xcol t4

d         | appl  goog ibm   msoft All
----------| ----------------------------
2020.06.02| 520   420  533   516   513
2020.06.03| 490.5 524  359   421   442.5
2020.06.04| 581   546  540.5 469   538
2020.06.05| 458   273  461   429   420
2020.06.06| 319   428  484.5 460   434.5
2020.06.07| 462.5 591  454   419   483
2020.06.08| 493   288  387   421.5 413.5
2020.06.09| 494   464  338   661   492
2020.06.10| 591.5 406  529   571.5 529
2020.06.11| 637   459  478.5 413   500.5
All       | 495   428  461.5 469   466

Multiple group bys

In [56]:
t: update ex: count[t]?`lst`nyst from t

In [58]:
t1: .pvt.pivot select med vol by d, ex, ticker from t
t1: update `$string d from t1

d          ex  | appl  goog  ibm   msoft
---------------| -----------------------
2020.06.02 lst | 520   405.5 451.5 401
2020.06.02 nyst| 524.5 444   615   629.5
2020.06.03 lst | 631.5 660.5 405.5 354
2020.06.03 nyst| 399.5 448   340   680.5
2020.06.04 lst | 565   394   603   466
2020.06.04 nyst| 597   644.5 540   472
2020.06.05 lst | 449.5 256   467   298
2020.06.05 nyst| 514   376.5 414   473
2020.06.06 lst | 465.5 318   677   460
2020.06.06 nyst| 237   522.5 420   444.5
2020.06.07 lst | 377.5 614.5 490.5 591
2020.06.07 nyst| 486   415   454   396
2020.06.08 lst | 701.5 204   409   382
2020.06.08 nyst| 309   396   284.5 582
2020.06.09 lst | 476.5 465   327   620.5
2020.06.09 nyst| 506   463   699.5 708
2020.06.10 lst | 587   301.5 666   586
2020.06.10 nyst| 630   603.5 426   94
2020.06.11 lst | 692.5 505   288   289.5
2020.06.11 nyst| 484.5 345.5 553   537

In [59]:
t2: select med vol by ticker from t
t2

ticker| vol
------| -----
appl  | 495
goog  | 428
ibm   | 461.5
msoft | 469

In [60]:
t3: update `$string d, `$string ex from select med vol by d, ex from t
t3

d          ex  | vol
---------------| -----
2020.06.02 lst | 447.5
2020.06.02 nyst| 557
2020.06.03 lst | 421
2020.06.03 nyst| 448
2020.06.04 lst | 515
2020.06.04 nyst| 541
2020.06.05 lst | 399.5
2020.06.05 nyst| 450
2020.06.06 lst | 460
2020.06.06 nyst| 428
2020.06.07 lst | 532
2020.06.07 nyst| 454
2020.06.08 lst | 418
2020.06.08 nyst| 412
2020.06.09 lst | 448
2020.06.09 nyst| 531.5
2020.06.10 lst | 525
2020.06.10 nyst| 529
2020.06.11 lst | 482
2020.06.11 nyst| 500.5

In [67]:
([] d: enlist `All; ex: enlist `All)!(enlist first[value flip key t2]!first value flip value t2) ,' `All xcol t4

d   ex | appl goog ibm   msoft All
-------| -------------------------
All All| 495  428  461.5 469   466

In [64]:
t1 ,' `All xcol value t3

d          ex  | appl  goog  ibm   msoft Total
---------------| -----------------------------
2020.06.02 lst | 520   405.5 451.5 401   447.5
2020.06.02 nyst| 524.5 444   615   629.5 557
2020.06.03 lst | 631.5 660.5 405.5 354   421
2020.06.03 nyst| 399.5 448   340   680.5 448
2020.06.04 lst | 565   394   603   466   515
2020.06.04 nyst| 597   644.5 540   472   541
2020.06.05 lst | 449.5 256   467   298   399.5
2020.06.05 nyst| 514   376.5 414   473   450
2020.06.06 lst | 465.5 318   677   460   460
2020.06.06 nyst| 237   522.5 420   444.5 428
2020.06.07 lst | 377.5 614.5 490.5 591   532
2020.06.07 nyst| 486   415   454   396   454
2020.06.08 lst | 701.5 204   409   382   418
2020.06.08 nyst| 309   396   284.5 582   412
2020.06.09 lst | 476.5 465   327   620.5 448
2020.06.09 nyst| 506   463   699.5 708   531.5
2020.06.10 lst | 587   301.5 666   586   525
2020.06.10 nyst| 630   603.5 426   94    529
2020.06.11 lst | 692.5 505   288   289.5 482
2020.06.11 nyst| 484.5 345.5 553   537   500.5

In [71]:
(t1 ,' `All xcol value t3), ([] d: enlist `All; ex: enlist `All)!(enlist first[value flip key t2]!first value flip value t2) ,' `All xcol t4

d          ex  | appl  goog  ibm   msoft All
---------------| -----------------------------
2020.06.02 lst | 520   405.5 451.5 401   447.5
2020.06.02 nyst| 524.5 444   615   629.5 557
2020.06.03 lst | 631.5 660.5 405.5 354   421
2020.06.03 nyst| 399.5 448   340   680.5 448
2020.06.04 lst | 565   394   603   466   515
2020.06.04 nyst| 597   644.5 540   472   541
2020.06.05 lst | 449.5 256   467   298   399.5
2020.06.05 nyst| 514   376.5 414   473   450
2020.06.06 lst | 465.5 318   677   460   460
2020.06.06 nyst| 237   522.5 420   444.5 428
2020.06.07 lst | 377.5 614.5 490.5 591   532
2020.06.07 nyst| 486   415   454   396   454
2020.06.08 lst | 701.5 204   409   382   418
2020.06.08 nyst| 309   396   284.5 582   412
2020.06.09 lst | 476.5 465   327   620.5 448
2020.06.09 nyst| 506   463   699.5 708   531.5
2020.06.10 lst | 587   301.5 666   586   525
2020.06.10 nyst| 630   603.5 426   94    529
2020.06.11 lst | 692.5 505   288   289.5 482
2020.06.11 nyst| 484.5 345.5 553   537   500.5
All        All | 495   428   461.5 469   466

In [87]:
enlist `d`ex!`All`All

d   ex
-------
All All

In [107]:
.pvt.pivotWithTotal[?[t; (); ; enlist[`vol]!enlist (sum; `vol)]; `d`ex`ticker!`d`ex`ticker]

d          ex  | appl   goog   ibm    msoft  All
---------------| ----------------------------------
2020.06.02 lst | 6607   5912   8119   5093   25731
2020.06.02 nyst| 3325   4438   4006   6015   17784
2020.06.03 lst | 5801   6765   3916   5466   21948
2020.06.03 nyst| 4760   4100   5218   8513   22591
2020.06.04 lst | 11047  6435   9014   5387   31883
2020.06.04 nyst| 3504   6056   8881   6364   24805
2020.06.05 lst | 11609  3343   7660   5409   28021
2020.06.05 nyst| 5966   4685   7176   6490   24317
2020.06.06 lst | 5910   3387   5808   5450   20555
2020.06.06 nyst| 5902   8099   10486  3368   27855
2020.06.07 lst | 7299   8904   2022   8454   26679
2020.06.07 nyst| 8561   5153   7694   5130   26538
2020.06.08 lst | 8829   3685   5678   6866   25058
2020.06.08 nyst| 5237   5600   6763   6098   23698
2020.06.09 lst | 4709   5367   4472   7180   21728
2020.06.09 nyst| 6418   4798   4533   11315  27064
2020.06.10 lst | 7061   5037   5870   7900   25868
2020.06.10 nyst| 5033   3496   4739   708    13976
2020.06.11 lst | 7858   7028   4331   2729   21946
2020.06.11 nyst| 5568   2238   8088   5192   21086
All        All | 131004 104526 124474 119127 479131

In [94]:
fn: ?[t; (); ; enlist[`vol]!enlist (sum; `vol)]

In [95]:
grps: `d`ticker!`d`ticker

In [96]:
t1: .pvt.pivot fn[grps];
t2: fn[-1 # grps];
t3: fn[-1 _ grps];
t4: fn[()!()];

In [97]:
(t1 ,' `All xcol value t3), (enlist (-1 _ grps)!(-1 + count grps)#`All)!(enlist first[value flip key t2]!first value flip value t2b) ,' `All xcol t4

All
------
479131

In [104]:
(t1 ,' `All xcol value t3), (enlist (-1 _ key grps)!(-1 + count grps)#`All)!(enlist first[value flip key t2]!first value flip value t2) ,' `All xcol t4

type: type

In [104]:
(t1 ,' `All xcol value t3)

d         | appl  goog  ibm   msoft All
----------| -----------------------------
2020.06.02| 9932  10350 12125 11108 43515
2020.06.03| 10561 10865 9134  13979 44539
2020.06.04| 14551 12491 17895 11751 56688
2020.06.05| 17575 8028  14836 11899 52338
2020.06.06| 11812 11486 16294 8818  48410
2020.06.07| 15860 14057 9716  13584 53217
2020.06.08| 14066 9285  12441 12964 48756
2020.06.09| 11127 10165 9005  18495 48792
2020.06.10| 12094 8533  10609 8608  39844
2020.06.11| 13426 9266  12419 7921  43032